<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <!--<packageSources>
    <clear />
    --><!-- ensure only the sources defined below are used --><!--
    <add key="NbNuget2018" value="http://192.168.1.182/NugetDemo" />
  </packageSources>-->
</configuration>